.icon-failures, #admin-menu a.failures { background-image: url(../images/http_status_server_error.png); }
.failures a.nostyle { color:inherit; text-decoration:none; }
.failure-backtrace { margin:10px 0; padding:10px; background-color:#eee; }
table.list.failures td.buttons, div.buttons {text-align: center;}
